@media only screen and (min-width: 992px) and (max-width: 1280px) { 
div.cart-collaterals ul.products li.product {
  float: left;
  margin-left: 30px;
  position: relative;
  width: 160px;
}
.coupon input[type="text"] {
  width: 100px;
}  
input[type="submit"], button[type="submit"] {
  padding: 11px 15px;
} 
.col-1, .col-2 {
  width: 293px;
}    
    
    
}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
.user-menu, .header-right ul.list-inline {
  text-align: center;
}
.mainmenu-area ul.navbar-nav li a {
  font-size: 14px;
  padding: 15px 10px;
}  
.single-promo {margin-bottom: 30px}    
.single-product-widget, .footer-about-us, .footer-menu {
  margin-bottom: 60px;
}
    
    
.product-widget-area .zigzag-bottom {
  bottom: -50px;
  height: 100px;
}
.product-widget-area {
  padding-bottom: 90px;
}   
    
.footer-top-area .zigzag-bottom {
  bottom: -153px;
  height: 200px;
}    
.footer-top-area {
  padding: 35px 0 125px;
}  
div.cart-collaterals ul.products li.product {
  width: 190px;
}  
    
.col-1, .col-2 {
  width: 345px;
}    
    
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
    
.user-menu, .header-right ul.list-inline {
  text-align: center;
}  
.logo h1 {
  font-size: 30px;
  margin: 20px 0;
  text-align: center;
} 
.shopping-item {
  float: none;
  margin-bottom: 20px;
  margin-top: 5px;
  text-align: center;
}  
.navbar-header {
  text-align: center;
}    
    
.navbar-toggle {
    border-color: #fff;
    float: none;
    margin: 10px auto;
}
.navbar-toggle .icon-bar { background: none repeat scroll 0 0 #333 }  
.navbar-collapse.collapse.in {
  background: none repeat scroll 0 0 #f4f4f4;
  position: relative;
  z-index: 99;
} 
.mainmenu-area ul.navbar-nav li a {
  padding: 15px;
}  
.mainmenu-area {position: relative !important}
.slide-text {
  font-size: 16px;
}  
.slide-text h2 {
  font-size: 30px;
}  
.readmore {
  font-size: 16px;
  padding: 8px 20px;
}    
.single-promo {
  margin-bottom: 30px;
} 
.section-title {
  font-size: 35px;
}  
    
    
.product-widget-area .zigzag-bottom {
  bottom: -50px;
  height: 100px;
}
.product-widget-area {
  padding-bottom: 90px;
}   
    
.footer-top-area .zigzag-bottom {
  bottom: -153px;
  height: 200px;
}    
.footer-top-area {
  padding: 35px 0 125px;
} 
    
.single-product-widget, .footer-about-us, .footer-menu {
  margin-bottom: 60px;
}  
    
.product-wid-title {
  font-size: 25px;
}  
    
.related-products-wrapper .owl-nav {
  left: -15px;
  position: relative;
  right: inherit;
  top: 15px;
}  
div.cart-collaterals ul.products {
  margin: 0;
}  
div.cart-collaterals ul.products li.product {
  margin-bottom: 30px;
  margin-left: 0;
  width: 100%;
}  
div.cart-collaterals ul.products li.product img {width: 100%}  
    
.product-bit-title h2 {
  font-size: 35px;
  padding: 40px 0;
}  
.col2-set {
  margin-left: 0;
}    
.col-1, .col-2 {
  float: none;
  margin-left: 0;
  width: inherit;
}    
    
    
/* Special */    
    
table.shop_table th, table.shop_table td {
  font-size: 12px;
  padding: 5px;
}    
td.product-thumbnail img {
  width: 30px;
} 
    
div.quantity input.plus, div.quantity input.minus {
  display: none;
}   
table.shop_table th {
  font-size: 12px;
}    
div.coupon input[type="text"] {
  width: 100px;
} 
.coupon {margin-bottom: 10px}      
.cross-sells {
  float: none;
  margin-bottom: 30px;
  margin-right: 0;
  width: 100%;
}  
.cart_totals, .cart-collaterals .shipping_calculator {
  float: none;
  margin-bottom: 40px;
  width: 100%;
}  
    
    
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
    
  
    
}
.mycolor {
  color: red;
  text-align: center;
  text-decoration: none;
  font-size: 50px;
  padding-bottom: 50px;
}
.mycolor:hover {
color:green ;
}
.app-container {
padding-top:15px;
}

.app-google img {
  height: 50px;
  cursor: pointer;
}


/* dsfsdfsdfsdfsdfsdfsdfsdfsdf */
.text-cs h2 {
  padding-left: 15%;

}
.text-cs1 {
  padding-left: 12%;
}

.text-cs1  {
}
.text-cs1 h4 {
}
.container11 {
  display: grid;
  border:1px solid #1D1E2C;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  padding-left: 50px;
  padding-right: 50px;
}
/* sadasdasdasdasdasdasdasdasdasd */
.size {
  color:black;
padding-bottom: 20px;
padding-right: 20px;
box-sizing: border-box;
}
/* fsdfdsfsdfsdfsdfsdfsdf */
.mycolor2 {
  color:black;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.mycolorprice {
  font-family: 'Quicksand', sans-serif !important;
  color: #ed1c24;
  text-decoration: none;
  text-align: left;
  font-size: 19px;
  padding-top: 5px;
  font-weight: bold;
}
.price-box .price {
  font-size: 19px;
  color: #ed1c24;
  font-weight: bold;
}
/* dsadsadsadsad */
.mycolor2 h3 {
  margin: 0px 5px;
    font-size: 20px;
    line-height: 22px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-family: 'Quicksand', sans-serif !important;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}label {
  cursor: default;
}
.product-info product-bottom {
  padding: 10px 3px 0px;
  width: 100%;
  float: left;
  background: #fff;
  padding: 0;
  width: 100%;
  float: left;
  padding: 10px 0px 0px;
  position: relative;
  text-align: left;
  padding: 0 10px;
  display: block;
}
.dl {
  margin: 0px 10px 5px 0;
  float: left;
  -webkit-transform: translateZ(0);
  -webkit-font-smoothing: antialiased;
  position: relative;
    margin: 0 5px 5px 0;
}

.quick-contact-nav .quick_contact_list .quick_contact_item {
  text-align: center;
  flex: 1;
}a, .text-link {
  color: #282828;
  text-decoration: none;
  background: transparent;
}a {
  color: #282828;
}a {
  color: #337ab7;
  text-decoration: none;
}a {
  background-color: transparent;
}img {
  border: 0 none;
  max-width: 100%;
  height: auto;
}img {
  vertical-align: middle;
}img {
  border: 0;
}.quick-contact-nav .quick_contact_list .quick_contact_item span {
  display: block;
  text-shadow: 0 0 2px #fff;
  padding-bottom: 10px;
  padding-left: 30px;
}.quick-contact-nav .quick_contact_list .quick_contact_item {
  text-align: right;
  flex: 1;
  padding-right: 15px;
}
.quick-contact-nav .quick_contact_list .quick_contact_item p{
  align-items:normal;
}
*, input, :before, :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}li {
  display: list-item;
  text-align: -webkit-match-parent;
}ul {
  list-style: none ;
}.quick-contact-nav {
  position: fixed;
  bottom: 0px;
  width: 100%;
  left: 0;
  top: initial !important;
  z-index: 99;
}
.buttonlen {
  text-align: right;
  padding-right: 15px;
  padding-bottom: 40px;
  padding-top: 30px;
}
/* hgjhgjghj */

/* sadsadasdasdasd */
.col-md-13 {
  padding-left: 10%;
  padding-top: 10px;
}
/* sdasdasdasdasd */
.sale h5{
  padding-left: 50px;
  padding-top: 20px;
}
.sale h2{
  text-align: center;
}

.text-cs1 i{
  font-size: 20px;
}
.text-cs1 p{
  font-size: 18px;
  padding-bottom: 0.7%;
}
/* sdsdsadasdasdasdas */
